= form_tag sessions_path, class: 'form-signin' do |form|  
  %h1.h3.mb-3.font-weight-normal Sign in
  = label_tag :email, '', class: 'sr-only'  
  = text_field_tag :email, '', class: 'form-control', placeholder: 'Email'
  = label_tag :password, '', class: 'sr-only' 
  = password_field_tag :password, '', class: 'form-control', placeholder: 'Password'

  = submit_tag 'Sign in', class: 'btn btn-primary margin-top'

= link_to 'Sign up', signup_path, class: 'btn btn-default'