- no_button ||= false
- animes ||= @animes

%table.table.table-hover
    %tbody
        - animes.each do |anime|
            - next if anime.name == 'Other'

            %tr
            %td
                -# TODO: do this in a helper
                = image_tag("animes/#{anime.image_file_name}")
            %td= anime.name
            - unless no_button
                %td
                    -# Here we have to do some jquery
                    -# Create a way to add to playlist
                    - if anime.in?(@playlist.animes)
                        = render 'in_playlist_button', anime: anime, playlist: @playlist
                    - else
                        = link_to 'Add to playlist', add_to_playlist_anime_path(id: anime, playlist_id: @playlist), method: :post, remote: true, 
                            id: "anime-status_button-#{anime.id}", class: 'btn btn-outline-primary btn-sm'