-# anime
-# playlist

.card{id: "anime-playlist-#{anime.id}-#{@playlist.id}"}
    -# TODO: do this in a helper
    -# = ("animes/#{anime.image_file_name}")
    %div{style: 'margin-bottom: 20px;'}
        %h4{style: 'display: inline;'}= anime.name
        - if anime.name != 'Other'
            = link_to remove_anime_playlist_path(anime_id: anime.id, id: @playlist.id), method: :post, remote: true,
                                    class: 'btn btn-danger btn-sm', style: 'float: right;', data: {confirm: 'Are you sure?'} do
                %i.fa.fa-times
                Remove anime

    - @playlist.musics_for_anime(anime).each do |music|
        = render 'music', music: music

    - end_msg = anime.name == 'Other' ? '' : "of #{anime.name}"
    %h5{style: 'margin-bottom: 1vw;'} Include your own favorite OSTs #{end_msg}
    - @playlist.musics_for_anime(anime, custom: true).each do |music|
        = render 'music', music: music

    = render 'custom_musics_form', anime: anime