-# playlist

%p{id: 'notice'}= notice

.card
    %h2= @playlist.name

    - @playlist.animes.each do |anime|
        = render 'anime', anime: anime

    = link_to 'Edit', edit_playlist_path(@playlist), class: 'btn btn-outline-primary'
    = link_to 'Back', animes_path, class: 'btn btn-outline-dark'
