<%
  hide_nav ||= false
  floating ||= false
%>

<nav class="navbar <%= 'fixed-top' if floating %>">
  <div class="navbar-inner">
    <div class="container">
      <% image_src = current_user.present? ? "characters/#{current_user.character}.png" : 'anime_playlist_logo.png' %>
      <%= link_to image_tag(image_src, size: '130x90'), main_app.root_path, class: 'brand' %>
      <!--span><%= current_user&.id %></span-->
      <div id="user_controls_menu" style="margin-left: 1vw;">
        <% if current_user.present? %>
          <span class="dropdown navbar-text">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= current_user.email %>
            </a>
            <ul class="dropdown-menu">
              <li style="margin-left: 2px;">
                <%#= link_to "Account Settings", main_app.edit_user_registration_path %>
                <%= link_to "Logout", main_app.logout_path, method: :get %>
              </li>
            </ul>
          </span>
        <% else %>
          <%= link_to "Login", main_app.login_path, method: :get, class: 'btn btn-default' %>
        <% end %>
      </div>

      <% if !hide_nav %>
        <ul class="nav" style="margin-left: 1vw;" >
          <li>
            <%= link_to 'Playlists', main_app.playlists_path, class: 'btn btn-outline-primary' %>
          </li>
        </ul>
      <% end %>

    </div>
  </div>
</nav>
